all_platonic.m
anim_test.m
animate_transform.m
animate_transform_script.m
arch10_rhombicosidodecahedron.m
arch11_truncatedicosidodecahedron.m
arch12_snubcube.m
arch13_snubdodecahedron.m
arch1_truncatedtetrahedron.m
arch2_truncatedcube.m
alignVectors.m
arch3_truncatedoctahedron.m
arch4_truncateddodecahedron.m
arch5_truncatedicosahedron.m
arch6_cuboctahedron.m
arch7_rhombicuboctahedron.m
arch8_truncatedcuboctahedron.m
arch9_icosidodecahedron.m
archimidean.m
archimidean_script.m
calc_temp.m
cam_properties.m
camorbit_timed.m
changeView.m
changeView_az.m
changeView_old.m
changeView_timed.m
check_normals.m
circumsphere.m
cleanupVertices.m
conn_test.m
cube_vertex_fold_test.m
cubepatch.m
curve_test.m
diamond_obj.m
cat_with_nan.m
catalan_script.m
dihedral_angle.m
dir_fit_test.m
display_animated_fig.m
dodecahedron_stellations.m
dodecahedron_stellations_20190514.m
dodecahedron_stellations_old.m
draw_cyl_test.m
ellipsoidpatch.m
expand_faces.m
fall_test.m
findnormal.m
findOpenEdge.m
findPlanesContainingVertex.m
fit_cylinder.m
fit_cylinder_edges.m
fit_sphere.m
hemi_test.m
ico_stellation_diagram.m
innersphere.m
istime.m
makeConvex.m
mergepatch.m
midsphere.m
obj2patch.m
patch_cyl_fit_test.m
patch_rotate_timed.m
patch_scale_timed.m
patch_translate.m
pentagon.m
pentagon2.m
pentagon_script.m
pentagon_scripts2.m
plane_normal.m
platonic1.m
platonic_slice.m
plotedges.m
poly_construct.m
poly_dual.m
poly_dual2.m
poly_expand.m
poly_truncate.m
polyhedron_cage.m
polyhedron_cage2.m
polyhedron_cantellate.m
polyhedron_center.m
polyhedron_dual.m
polyhedron_edges.m
polyhedron_expand.m
polyhedron_net.m
polyhedron_radius.m
polyhedron_resize.m
polyhedron_roll.m
polyhedron_roll_script.m
polyhedron_snubify.m
polyhedron_truncate.m
pov_anim_test.m
povray_render.m
povray_render_ico_test.m
povray_render_stellation.m
povray_render_stellation2.m
povray_test.m
povray_textures_test.m
project_axes.m
project_axes_old.m
removeFace.m
rotateAroundAxis.m
rotationmat3D.m
rotationMatrix.m
rotmat_decompose.m
script.m
segment_intersect.m
polyhedron_fold.m
shape2patch.m
showplane.m
skeleton.m
skeleton_script.m
skeleton_test.m
slicepatch.m
slicepatch_head.m
slicepatch_script.m
slicepatch_script_copy.m
snub_tutorial.m
stellation.m
stellation_face.m
stellation_face_05062019.m
stellation_face_05152019.m
storeStateInUserData.m
test3d.m
texture_test.m
time_freq_plot.m
toroidpatch.m
tubeplot.m
unfold_script.m
unfold_test.m
normalize2midsphere.m
addFace.m
*.pov
